
<body>
  <div class="container">
    <h1>Listado de Carreras Universitarias</h1>
    <div class="carreras">
      <div class="carrera">
        <h3>Computacion</h3>
        <p>Descripción de la carrera 1.</p>
      </div>
      <div class="carrera">
        <h3>Diseño</h3>
        <p>Descripción de la carrera 2.</p>
      </div>
      <div class="carrera">
        <h3>Arquitectura</h3>
        <p>Descripción de la carrera 3.</p>
      </div>
      <div class="carrera">
        <h3>Carrera 4</h3>
        <p>Descripción de la carrera 4.</p>
      </div>
      <div id="carreras-extra"></div>
    </div>   
  </div>
</body>

